*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    font-weight: 200
}

img {
    width: 100%;
}

.logos img {
    width: 100%;
}

main#main {
    max-width: 100%;
    overflow-x: hidden;
}

header#Header {
    position: relative;
    background: #407376;
    overflow: hidden;
}

.section-container {
    max-width: 1600px;
    margin: auto;
}

.hidden {
    display: none;
}

.regular {
    font-weight: 400
}

#slider {
    height: 650px;
    overflow: hidden;
}

.slider-content {
    height: 650px;
    width: 10000px;
    font-weight: 300;
}

.slider-item {
    position: relative;
    height: 650px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transition: all 0.5s;
}

.slider-item:first-child {
    margin-left: -123px;
}

.image {
    float: left;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.item-img-1,
.item-img-2 {
    height: 650px;
    width: 200%;
    top: 0px;
    position: absolute;
    left: -115px;
    background-size: 1200px 650px !important;
    -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    transition: all 0.5s;
}

.item-img-2 {
    opacity: 0;
}

.item-text {
    position: absolute;
}

.image-text {
    left: 30%;
    bottom: 20%;
    position: absolute;
    font-size: 35px;
    color: white;
    transition: all 0.5s;
    font-weight: 200;
}

.slider-velo {
    background: #187477;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    transition: top ease-out 1s;
}

.image:hover .slider-velo {
    top: -100%;
}

.image:hover .image-text {
    font-size: 40px;
}

.bajar {
    display: block;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    position: absolute;
    left: 50%;
    overflow: hidden;
    z-index: 1000;
    bottom: 10px;
}

.bajar svg {
    position: absolute;
    animation-name: bajar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.logos {
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
}

.logos-left {
    float: left;
    flex-direction: column;
    display: flex;
    width: 40%;
    max-width: 500px;
}

.logos-right {
    float: right;
    display: flex;
    width: 30%;
    padding-right: 60px;
    max-width: 500px;
}

.logos p {
    margin: 0;
    line-height: 1.5;
}

.flecha polyline {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.flecha.blanco polyline {
    stroke: #FFFFFF;
}

.flecha.verde polyline {
    stroke: #407376;
}

section {
    padding: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}

section:last-child {
    padding-bottom: 30px;
}

section article {
    padding: 15px;
    float: left;
    width: 50% !important;
}

section article img {
    max-width: 500px;
}

section article.content h2 {
    font-weight: normal;
    color: #187477;
    font-size: 8rem;
    margin: 0
}

section:nth-child(even) {
    background: #407376
}

section:nth-child(even) article.content,
section:nth-child(even) article.content h2 {
    color: white;
}

.separator {
    height: 1px;
    background: linear-gradient(to right, #fcfcfc, #407376, #fcfcfc);
    margin: 50px 0;
}

.text-green {
    color: #407376
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: bold;
}

section span.icon {
    display: none;
}

#sponsors {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

#sponsors .sponsor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    border-right: 1px solid gray;
}

#sponsors .sponsor-logo:last-child {
    border: none;
}

.firmas {
    padding: 70px 0;
    overflow: hidden;
}

.firmas div {
    width: 50%;
    float: left
}

@keyframes bajar {
    0% {
        top: 0;
    }
    50% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}

@media (min-width:1400px) {
    body {
        font-size: 1.4rem;
    }
    .image .image-text {
        left: 9%;
    }
    .image:first-child .image-text {
        left: 25%;
    }
    .image:hover .image-text {
        left: 30%;
    }
    .image:nth-child(2) .item-img-1 {
        left: -400px;
    }
    .image:last-child .item-img-1,
    .image:last-child .item-img-2 {
        left: -320px;
    }
    .image:last-child .image-text {
        left: -70px;
    }
    .image:last-child:hover .image-text {
        left: 20%;
    }
}

@media (max-width:1400px) {
    .image:first-child .image-text {
        left: 10%;
    }
    .image-text {
        left: -2%;
    }
    .image:last-child .image-text {
        left: -85px;
    }
    .image:hover .image-text {
        left: 20%;
    }
    .image:nth-child(1) .item-img-2 {
        background-position-x: -300px!important;
    }
    .image:nth-child(2) .item-img-1,
    .image:nth-child(2) .item-img-2 {
        background-position-x: -600px!important;
    }
    .image:nth-child(2) .item-img-2 {
        background-position-x: -400px!important;
    }
    .image:nth-child(3) .item-img-2 {
        background-position-x: -400px!important;
    }
    .image:nth-child(4) .item-img-1 {
        background-position-x: -200px!important;
    }
    .image:nth-child(4) .item-img-2 {
        background-position-x: -400px!important;
    }
}

@media (max-width:1200px) {
    #slider .image-text {
        font-size: 20px;
        font-weight: 400;
    }
}

@media (max-width:980px) {
    .slider-item {
        -webkit-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        -moz-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        -ms-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        transform: translate3d(0, 0, 0) skew(0deg, 0deg);
    }
    .item-img-1,
    .item-img-2 {
        position: absolute;
        left: 0;
        -webkit-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        -moz-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        -ms-transform: translate3d(0, 0, 0) skew(0deg, 0deg);
        transform: translate3d(0, 0, 0) skew(0deg, 0deg);
    }
    .slider-content {
        position: absolute;
        left: 50px;
    }
    .image:last-child .image-text {
        left: -92px;
    }
    .image:hover .image-text {
        left: 8%;
    }
    section article.content h2 {
        font-size: 6rem;
    }
}

@media (max-width:780px) {
    #slider,
    .slider-content,
    .slider-item,
    .item-img-1,
    .item-img-2 {
        height: 450px;
    }
    .image-text {
        font-size: 25px;
    }
    .image:not(:last-child) .image-text {
        left: -50px;
    }
    .image:hover .image-text {
        left: 12%;
    }
    .image:first-child .image-text {
        left: 0px;
    }
    .image:first-child:hover .image-text {
        left: 20%;
    }
    .image:nth-child(2) .item-img-2 {
        background-position-x: -650px!important;
    }
    .image:nth-child(3) .item-img-2 {
        background-position-x: -550px!important;
    }
    .image:nth-child(4) .item-img-1 {
        background-position-x: -250px!important;
    }
    .image:nth-child(4) .item-img-2 {
        background-position-x: -550px!important;
    }
    #sponsors .sponsor-logo {
        padding: 0 50px;
    }
}

@media (max-width:680px) {
    #slider,
    .logos-left p,
    header .bajar {
        display: none;
    }
    .logos {
        display: flex;
        position: static;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    .logos-left {
        float: left;
        width: 200px;
        height: auto;
        padding-right: 0;
    }
    .logos-right {
        float: right;
        width: 200px;
        height: 100%;
        padding-right: 0;
    }
    .logos img {
        width: 50%;
    }
    section article.content h2 {
        font-size: 4rem;
    }
    section span.icon {
        display: block;
        float: left;
        display: block;
        width: 52px;
        margin-right: 10px;
    }
    section article {
        width: 100% !important;
    }
    section .image {
        display: none;
    }
    .firmas {
        padding: 30px 0;
    }
    .firmas div {
        width: 100%;
        margin-top: 30px;
    }
    #sponsors {
        margin-top: 0;
        flex-direction: column;
    }
    #sponsors .sponsor-logo {
        border: none;
        padding: 30px;
        height: 300px;
    }
    #sponsors .sponsor-logo img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width:350px) {
    section article.content h2 {
        font-size: 3rem;
    }
    section span.icon {
        width: 38px;
    }
}